<!-- @if (showTabs) {

<div class="app-container">

  <div class="tab-content">
    <mat-tab-group class="bottom-tabs" >

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-item">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </div>
        </ng-template>
        <div class="content-inner">
          <h1>Home Content</h1>
          <p>This starts from the very top of the screen.</p>
        </div>
      </mat-tab>

 
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-item">
            <mat-icon>bolt</mat-icon>
            <span>NeuPass</span>
          </div>
        </ng-template>
        <div class="content-inner">
          <h1>NeuPass Content</h1>
        </div>
      </mat-tab>


      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-item">
            <mat-icon>category</mat-icon>
            <span>Categories</span>
          </div>
        </ng-template>
        <div class="content-inner">
          <h1>Categories Content</h1>
        </div>
      </mat-tab>

 
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-item">
            <mat-icon>local_offer</mat-icon>
            <span>Offers</span>
          </div>
        </ng-template>
        <div class="content-inner">
          <h1>Offers Content</h1>
        </div>
      </mat-tab>


      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-item">
            <mat-icon>credit_card</mat-icon>
            <span>NeuCard</span>
          </div>
        </ng-template>
        <div class="content-inner">
          <h1>NeuCard Content</h1>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

} @else {
<p>Big screen layout without tabs.</p>
}

<router-outlet /> -->


@if (showTabs) {
<div class="app-container">
  <!-- Scrollable Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Fixed Bottom Navigation -->
  <nav class="bottom-nav">
    <a routerLinkActive="active" (click)="anotherpage1()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a routerLinkActive="active" (click)="anotherpage()">
      <mat-icon>bolt</mat-icon>
      <span>NeuPass</span>
    </a>
    <!-- <a routerLink="/categories" routerLinkActive="active">
      <mat-icon>category</mat-icon>
      <span>Categories</span>
    </a> -->
    <a  routerLinkActive="active" (click)="anotherpage2()">
      <mat-icon>local_offer</mat-icon>
      <span>Offers</span>
    </a>
    <!-- <a routerLink="/neucard" routerLinkActive="active">
      <mat-icon>credit_card</mat-icon>
      <span>NeuCard</span>
    </a> -->
  </nav>
</div>
} @else {
<p>Big screen layout without tabs.</p>
    <router-outlet></router-outlet>
}